USE [master]
GO
/****** Object:  Database [EFDB]    Script Date: 4/16/2024 2:33:37 PM ******/
CREATE DATABASE [EFDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EFDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EFDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EFDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\EFDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EFDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EFDB]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 4/16/2024 2:33:37 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[City] [varchar](50) NULL,
	[Address] [varchar](250) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [City], [Address]) VALUES (6, N'nadimun', N'nahar', N'dhaka', N'agarga, dhaka')
INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [City], [Address]) VALUES (7, N'nahar nahar', N'nahar', N'nahar', N'nahar nahar')
INSERT [dbo].[Customer] ([CustomerID], [FirstName], [LastName], [City], [Address]) VALUES (8, N'jkjk', N'kzj', N'', N'')
SET IDENTITY_INSERT [dbo].[Customer] OFF
GO
USE [master]
GO
